@font-face {
    font-family: 'yalenew-roman-webfont';
    src: url('Fonts/yalenew-roman-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Mallory-Light';
    src: url('Fonts/Mallory-Light.woff') format('woff');
}
@font-face {
    font-family: 'Mallory-Medium';
    src: url('Fonts/Mallory-Medium.woff') format('woff');
}
.header{
    font-family: yalenew-roman-webfont;
    font-size: 55px;
    color: #000000;
}
.subHeader{
    font-family: yalenew-roman-webfont;
    font-size: 30px;
    color: #00356b;
}
.bodyText{
    font-family: Mallory-Light;
    font-size: 20px;
    color: #000000;
}